<html>
    <body>
        <h1>Hello!
        {% if username %}
            {{ username }}
        {% endif %}
        </h1>
        {% if not username %}
            <form action="/form_login" method="post">
                <h2></h2>Username:<br>
                <input type="text" name='username'><br><br>
                <input type="submit" value="Login">
            </form>
            <p>Users:</p>
            <ul>
                {% for user in users %}
                <li id>
                    <form action="/view_user" method="post">
                        <p>
                            <input type="submit" value={{user}} name ="user">
                        <p>
                    </form>                     
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>{{otheruser}} Timeline:</p>
            <ul>
                {% for tweet in timeline_list %}
                    <li>
                        <p> {{ tweet["user"] }}&nbsp:&nbsp{{ tweet["status"] }}</p>  
                        <p> {{ tweet["time"] }}</p>                         
                    </li><br>
                {% endfor %}
            </ul>
            {% if can_post %}
            <form action="/form_tweet" method="post">
                <h2></h2>New Tweet:<br>
                <input type="hidden" name='username2' value={{ username }}>
                <input type="text" name='tweet'>
                <input type="submit" value="Post">
            </form>
        {% endif %}

        {% endif %}
    </body>
</html>